$color-primary: 	 	#0366d6;
$color-secundary:		#6f42c1;

$color-text:			#1A2430;
$color-icons:		#A1ACB7;

$color-link:				red;
$color-link-hover: 		red;

$color-elements:	#24292e;
$color-divider:		#d1d5da;
$color-accent:		#f6f8fa;

$color-success: 	#28a745;
$color-error:		#d73a49;